<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Non-Proliferation</title>
        <link rel="stylesheet" href="https://cdn.metroui.org.ua/current/metro.css">
    </head>

    <body style="background-image: url('/static/blob.svg'); background-size: cover;  display:flex; margin:0; flex-direction:column;">

        <center>
            <form method="POST" action="/results">
                <br>
                    <div id="inputbox" style=" margin: auto;">
                        <input name="query" type="TEXT" style="width: 50vw; font-size: 2.3vw;">    
                        <div id="search">
                            <input value="🔎" type="SUBMIT" style="width: auto; height: auto; font-size: 2.3vw; position: relative;">
                        </div>                
            </form
        </center>
        <script src="https://cdn.metroui.org.ua/current/metro.js"></script>
    </body>
</html>